#container {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: auto;
    position: relative;
    background-color: black;
}

#splash-main-pic {
    display: flex;
    height: 100%;
    width: 90%; 
    align-items: center;
    top: 20%;
}

#splash-main-pic-container {
    position: static;
    top: 0%;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 25px;
    display: flex;
    justify-content: center;
    resize: 50%;
    background-color: black;
}

#name {
    font-family: 'Montserrat', sans-serif;
    font-size: 28px;
    color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-left: 10px;
    margin-top: 10px;
}

#header {
    background-color: black;
    display: flex;
    justify-content: space-between;
    margin-left: 85px; 
}

#hamburger-icon {
    height: 75%;
    width: 15%;
}

#search > * {
    height: 50px;
}

#left-edge-search {
    border-radius: 15px 0px 0px 15px;
}

#right-edge-search {
    border-radius: 0px 15px 15px 0px;
}

.menu-dropdown {
    display: none;
    color: aliceblue;
    position: absolute;
    // justify-content: flex-end;
    // align-items: flex-end;
}

.menu-container:hover .menu-dropdown {
    display: block;
}

#city-container {
    display: flex;
    justify-content: space-around;
    margin-left: 70px;
    margin-right: 70px;
}

.cities > * > * {
    height: 170px;
    width: 260px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

#inspiration {
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    margin-left: 80px;
}

.city {
    font-family: 'Montserrat', sans-serif;
    font-size: 28px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    background-color: rgb(255, 59, 59);
    border-radius: 12px;
    height: 320px;
    width: 260px;
}

.cty-text {
    position: relative;
    margin-left: 20px;
    margin-top: 10px;
}

#footer {
    height: 300px;
    display: flex;
    justify-content: space-around;
    overflow: auto;
    position: relative;
    background-color: rgb(240, 240, 240);
}

#footer > * {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}